<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Enrolled Classes</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="assets/js/vieweaf.js" type="text/javascript"></script>
</head>

<body>
  
    <div style="padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;background-color: #f5f5f5;">
         {{> navbar}}
        <hr style="background-color: #a0a0a0;margin: 0px;">
    </div>
    <div class="float-left" style="width: 28%;margin-top: 20px;margin-right: 5px;margin-bottom: 5px;margin-left: 5px;">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">User Information</h5>
            </div>
            <div class="card-body" style="padding: 5px;">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="float-left info-label" style="color: #427f50;"><strong>ID No.</strong>&nbsp;</span>
                    <span id="idnum" class="float-right info-field"> {{ idNum }} </span>
                  </li>

                  <li class="list-group-item">
                    <span class="info-label" style="color: #427f50;"><strong>Last Name:</strong>&nbsp;</span>
                    <span id="lname" class="float-right info-field"> {{ lname }} </span>
                  </li>

                  <li class="list-group-item">
                    <span class="info-label" style="color: #427f50;"><strong>First Name:</strong>&nbsp;</span>
                    <span id="fname" class="float-right info-field"> {{ fname }} </span>
                  </li>
                  
                  <li class="list-group-item">
                    <span class="float-left info-label" style="color: #427f50;"><strong>Degree Program:</strong>&nbsp;</span>
                    <span id="degprog" class="float-right info-field"> {{ degprog }} </span>
                  </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="float-left" style="width: 70%;margin: 5px;margin-top: 20px;">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Enrolled Classes</h5>
            </div>

            <ul class="list-group list-group-flush" id="enrolledclasses">
                <li class="list-group-item">
                    <span class="float-left" style="width: 15%;"><strong> Course Code</strong></span>
                    <span class="float-left" style="width: 35%;"><strong> Course Name</strong></span>
                    <span class="float-left" style="width: 10%;"><strong> Section</strong></span>
                    <span class="float-left" style="width: 20%;"><strong> Class Schedule</strong></span>
                    <span class="float-left" style="width: 10%;"><strong> Room</strong></span>
                    <span class="float-left" style="width: 10%;"><strong> Units</strong></span>
                </li>

                {{ #each compCourses }}
                    <li class="list-group-item">
                        <span class="float-left" style="width: 15%;"> {{ courseCode }} </span>
                        <span class="float-left" style="width: 35%;"> {{ courseName }} </span>
                        <span class="float-left" style="width: 10%;"> {{ section }} </span>
                        <span class="float-left" style="width: 20%;"> {{ classSched }} </span>
                        <span class="float-left" style="width: 10%;"> {{ room }} </span>
                        <span class="float-left" style="width: 10%;"> {{ numUnits }} </span>
                    </li>  
                {{ /each }}
            </ul>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>